.container {
  height: calc(70vh - 1px);
  width: calc(100vw - 1px);
  display: grid;
  grid-template-columns: 7.5vw auto;
  grid-template-rows: 67.5vh auto;
  background-color: rgb(245, 245, 220, 0.8);
}

.ticks {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.ticks .tick {
  transform: translateY(45%);
  color: RGB(0, 0, 0, 0.5);
  font-size: 0.75em;
}
.ticks .tickSpace {
  margin-top: auto;
}

.chart {
  grid-column: 2 / 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
  width: calc(100% - 1px);
  border-bottom: 1px solid rgb(0, 0, 0, 0.25);
  border-left: 1px solid rgb(0, 0, 0, 0.25);
}

.bar {
  max-width: 3%;
  background-color: rgb(224, 40, 40, 0.2);
  border-left: 1px solid rgb(224, 40, 40, 0.5);
  border-top: 1px solid rgb(224, 40, 40, 0.5);
  border-right: 1px solid rgb(224, 40, 40, 0.5);
  flex-grow: 1;
  margin: 0 0.075% 0 0.075%;
}

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 5vw auto;
  }
  .ticks .tick {
    font-size: 1em;
  }
}
