.container {
  background-color: beige;
  height: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.flexItem {
  margin-bottom: 1vh;
  text-align: center;
  flex-basis: 0;
}
.name {
  flex-grow: 3;
}
.settings {
  flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  .choose,
  .custom,
  .theme {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .settings {
    display: none;
  }
  .name {
    flex-grow: 2;
  }
  .custom {
    flex-grow: 3;
  }
  .theme {
    flex-grow: 1;
  }
  .choose {
    flex-grow: 1;
  }
}

.settingsIcon {
  animation: spinningGear 500ms linear 1;
}

@keyframes spinningGear {
  25% {
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  75% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
